.header{


}

.footer{



}

#bgpic{
    background: url("background.jpg") no-repeat center top;
    height: 100vh;
    background-size: cover;
}
/*.bodycontainer{*/
    /*text-align: center*/
/*}*/


.subsectiontitles{
    text-align: center;
    -webkit-text-fill-color: darkcyan;
}
.purposeimg {
    margin: auto;
    display: block;
    background-size: cover;
    height: 60vh;
    width: 100vw;
    border: 1px solid red;
    /*image-align: left;*/
}
.imgresize {
    height: 50%;
    border: 1px solid red;
    display: block;
    margin: auto;
    width: 45%;


}

.p {

    text-align: center;
    font-size: 3.9vw;
}

h1 {
    margin: 0 0 30px 0;
    text-align: center;
    font-size: 2.9vw
}

h2{
    margin: 0 0 30px 0;
    text-align: center;
    font-size: 3.0vw;
}

.home-wrap{
    -webkit-text-fill-color: darkcyan;
    text-align: center;
}

@media only screen and (max-width: 320px) {

    body {
        font-size: 2em;
    }

}