

.column1 {
    display: flex;
    background-color: purple;
    display: block;
    width: 300px;
    padding: 10px;

}

.column2{
    display: flex;
    color: red;
    background-color:orange;
    display: block;
    width: calc(100% - 340px);
    padding: 10px;
}

.header, .footer {

    background-color: yellow;
    color: black;
    padding: 1px;
}
.header{

    content: "";
    clear: both;



}
.footer{

    content: "";
    clear: both;

}

.box{
    display: flex;
}

