<h1>{{ post.title }}</h1>
<div class="content">
  {{ post.html()|safe }}
</div>
<div class="created">
  {{ post.created }}
</div>
<div class="author">
  <a href="https://twitter.com/{{ post.author.twitter }}">
    Twitter: {{ post.author.name }}
  </a>
</div>
<div>
  <form action="/post/{{ post.slug }}/comment" method="post">
    <textarea name="comment"></textarea>
    <br>
    <button type="submit">Create Comment</button>
  </form>
  </div>

  <div class="comments">


<h1> Comments</h1>                                               <!-- add sort by comments-->
<ul>

  {% for comment in post.comments_set %}

  <li>

      {{ comment.comment }}

  </li>

  {% endfor %}
</ul>


</div>