

.column1 {
    float: left;
    background-color: purple;
    display: block;
    width: 300px;
    height: 700px;

}

.column2{
    float:right;
    color: red;
    background-color:orange;
    display: block;
    width: 1300px;
    height: 700px;
}

.header, .footer {
    background-color: yellow;
    color: black;
    padding: 1px;
}
.header{

    float: top;

}
.footer{
    float: bottom;

}

.box{

    clear:left;
}