/* The Modal (background) */


modal-title{

    color: brown;

}

buttons{
    color: green;
}


#container{
    margin: 0 auto;
    width: 80%;
    font-family: verdana, arial, sans-serif;
    font-size:16px;
}